name: tests

on:
  pull_request:
  push:
    branches:
      - master
  schedule:
    - cron: '0 0 * * *'

jobs:
  tests:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: ['7.0', 7.1, 7.2, 7.3, 7.4, '8.0', 8.1, 8.2, 8.3]
        stability: [prefer-lowest, prefer-stable]
    env:
      extensions: grpc
      key: cache-v
    name: PHP ${{ matrix.php }} ${{ matrix.stability }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup cache environment
        id: extcache
        uses: shivammathur/cache-extensions@1.10.0
        with:
          php-version: ${{ matrix.php }}
          extensions: ${{ env.extensions }}
          key: ${{ env.key }}

      - name: Cache extensions
        uses: actions/cache@v4
        with:
          path: ${{ steps.extcache.outputs.dir }}
          key: ${{ steps.extcache.outputs.key }}
          restore-keys: ${{ steps.extcache.outputs.key }}

      - name: Setup PHP
        uses: shivammathur/setup-php@2.30.0
        with:
          php-version: ${{ matrix.php }}
          tools: pecl, composer:v2
          extensions: ${{ env.extensions }}

      - name: Validate dependencies
        run: composer validate --ansi

      - name: Install dependencies
        run: composer update --${{ matrix.stability }} --ansi
